@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;600&family=Inter:wght@400;500;600;700&family=Space+Grotesk:wght@400;500;600&display=swap");

/* Theme variables for the app */

:root {
  --orange: #ff4f40;
  --white: #fff;
  --light-aluminium: #eaecee;
  --aluminium: #8B96A5;
  --dark-aluminium: #1C1C1C;
  --black: #1C1C1C;
  --yellow: #EFC74E;
  --mandarine: #ff7f38;
  
  --main-theme: linear-gradient(
    153.07deg,
    var(--yellow) -2.47%,
    var(--mandarine) 102.78%
  );

  --font-primary: "Inter", sans-serif;
  --font-secondary: "Space Grotesk", sans-serif;
  --font-mono: "Fira Code", monospace;
}
