.mobile-nav-bar__container {
  position: fixed;
  display: none;
  justify-content: center;
  flex-shrink: 0;
  width: 100%;
  z-index: 300;
  background-color: var(--black);
}

.mobile-logo-text {
  font-size: medium;
  align-self: center;
  margin: 10px;
  color: #FFECBA;
}

.mobile-nav-bar {
  flex: 1;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  height: 6.4rem;
  max-width: 1200px;
  padding: 0.8rem 1.6rem;
  margin: 0;
}

.mobile-nav-bar__brand {
  flex: 1;
  display: flex;
  align-items: center;
  height: 100%;
  margin-right: 1.6rem;
}

.mobile-nav-bar__link {
  display: flex;
  align-items: center;
  height: 100%;
}

.mobile-nav-bar__logo {
  height: 3rem;
  object-fit: cover;
}

.mobile-nav-bar__menu {
  width: 100%;
  height: calc(100% - 6.4rem);
  position: fixed;
  left: 0;
  top: 6.4rem;
  background-color: var(--black);

  z-index: 300;
}

.mobile-nav-bar__toggle {
  margin-left: 2.4rem;
  font-size: 3.6rem;
  cursor: pointer;
}

.mobile-nav-bar__tabs {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  width: 100%;
  margin-bottom: 0px;
}

.mobile-nav-bar__tab {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-weight: 500;
  font-size: 2rem;
  line-height: 14px;
  margin: 5px;
  border-radius: 25px;
  padding: 2rem 20px;
  background-color: #FFEEBA;
  color: #1E1E1E;
  width: 95%;
  box-shadow: rgb(90 95 102) 0-1.5px 0 inset;
}

.mobile-nav-bar__tab:last-child {
  margin-right: 0;
}

.mobile-nav-bar__tab--active {
  font-weight: bold;
  background-color: #EFC74E;
  text-decoration-thickness: 4px;
  text-underline-offset: 8px;
}

.mobile-nav-bar__tab:hover {
  color: #ff7f38;
}

.mobile-nav-bar__icon {
  display: none;
}

.mobile-nav-bar__buttons {
  display: flex;
  justify-content: center;
  padding: 3.2rem;
  background-color: var(--black);
}

/* Responsiveness in mobile until tablet view */
@media only screen and (max-width: 640px) and (hover: none) {
  .mobile-nav-bar__tab:hover {
    color: var(--white);
  }

  .mobile-nav-bar__tab--active:hover {
    color: var(--white);
  }
}

@media only screen and (max-width: 640px) {
  .mobile-nav-bar__container {
    display: flex;
  }

  .mobile-nav-bar__menu--closed {
    display: none;
  }
}